<div class="container">
  <div class="user-details">
    <img alt="itsme" src="{{ " /assets/img/public_id.png " | prepend: site.baseurl }}" />
    <h3> Much Code, Such Hack, Wow. </h3>
    <p> {{site.user_description}} </p>

  </div>
  <div class="row user">
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-swift-plain colored"></i>
    <img alt="opencv" src="{{ " /assets/img/opencv.png " | prepend: site.baseurl }}" />
    <img alt="tensorflow" src="{{ " /assets/img/tensorflow.png " | prepend: site.baseurl }}" />
    <i class="devicon-ubuntu-plain colored"></i>
    <i class="devicon-github-plain colored"></i>
    <img alt="biometrics" src="{{ " /assets/img/biometrics.png " | prepend: site.baseurl }}" />
  </div>
</div>
