<div class="container">
  <div class="user-details">
    <img alt="itsme" src="{{ "/assets/img/public_id.png" | prepend: site.baseurl }}" />
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
    
  </div>
  <div class="row user">
    <h4>Much Code, Such Hack, Wow.</h4>
    <i class="devicon-cplusplus-plain"></i>
    <img alt="julialang" src="{{ "/assets/img/julia.png" | prepend: site.baseurl }}" />
    <img alt="opencv" src="{{ "/assets/img/opencv.png" | prepend: site.baseurl }}" />
    <i class="devicon-swift-plain colored"></i>
    <i class="devicon-mongodb-plain colored"></i>
  </div>
</div>
