<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="natus" src="{{ "/assets/img/natus.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Akiyama Natus </h5>
      <li> Development on Julia and C/C++ </li>
      <p>I am working on the algorithm to evaluate the newborns fingerprints over time. Also, I am responsible for the software architecture, i.e. data persistence, computing distribution, algorithms integration and a decent user experience.</p>
      <a class="project-link" href="http://akiyama.com.br">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="advog" src="{{ "/assets/img/advog.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Advog App </h5>
      <ul>
        <li> Development on iOS, Android, Flutter and Firebase </li>
      </ul>
      <p>This project is about an communication app for lowyers, started at Hackathon OAB 2016. I'm responsible for the mobile app and some of the backend.</p>
      <a class="project-link" href="http://advog.me/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="juliabiometrics" src="{{ "/assets/img/juliabiometrics.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> JuliaBiometrics </h5>
      <li> Development on pure Julia </li>
      <p>This is an OpenSource project that provides a public API and some biometrics algorithms to Julia.</p>
      <a class="project-link" href="https://github.com/JuliaBiometrics">Check it out</a>
    </div>
  </div>
</div>
